footer.footer
    .container
        .footer-wrapper
            ul.footer-column
                li 
                    a(href="latest") Latest Posts
                li 
                    a(href="popular") Popular Posts
            ul.footer-column
                li 
                    a(href="search-link") Search
                li 
                    a(href="contacts") Contact Information
            ul.footer-column-policy
                li 
                    a(href="polices") Privacy Policy
                li 
                    a(href="terms") Terms of Use
            .footer-social-icons
                +social-icon(icons)
    .copyright &copy; Copyright 2020. All rights reserved.