footer.footer
    .container
        .footer-wrapper
            ul.footer-column
                +footer-link('Latest Posts','latest')
                +footer-link('Popular Posts','popular')
            ul.footer-column
                +footer-link('Search','search-link')
                +footer-link('Contact Information','contacts')
            ul.footer-column-policy
                +footer-link('Privacy Policy','polices')
                +footer-link('Terms of Use','terms')
            .footer-social-icons
                +social-icon-new(footerIcons)
    .copyright &copy; Copyright 2020. All rights reserved.