block variables
    - const title = "Главная";
    - const title1 = "sdf";
    - 
    
        var recentPostArr = [
            {img: '01.jpg', title:'Austin DIY sriracha polaroid sartorial la croix.', date: 'december 26, 2019', comment: 5},
            {img: '02.jpg', title:'Vinyl hexagon tbh selvage chambray street art. ', date: 'december 12, 2019', comment: 0},
            {img: '03.jpg', title:'Edison bulb raw denim 3 wolf moon shaman mustache taxidermy. Cliche disrupt slow-carb chicharrones.', date: 'december 08, 2019', comment: 2},
            {img: '04.jpg', title:'Gastropub ennui keytar, plaid meggings marfa edison bulb pour-over austin enamel pin.', date: 'November 28, 2019', comment: 12},
            {img: '05.jpg', title:'Minim ad austin tousled gluten-free.', date: 'november 17, 2019', comment: 22}
            ];