
.header {
	width: 800px;
	padding: 50px 0;
	background-color: rgb(119, 214, 119);
	text-align: center;
	font-style: 62px;
}

.header__link {
	margin: 0 30px;
	font-size: 20px;
	color: #fff;
	font-weight: 600;
}