.header {
  width: 100%;
  // display: flex;
  border-bottom: 1px solid #dde2e7;
  font-family: "Exo 2", sans-serif;
}

.header-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1600px;
  // width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 60px;

  .header-container__social {
    display: flex;
    align-items: center;
  }

  .header-container__title {
    cursor: default;
    h1 {
      line-height: auto;
      font-size: 38px;
    }
  }

  .header-container__buttons {
    display: flex;
    align-items: center;

    .header-search {
      margin-right: 45px;
      height: 26px;
      width: 26px;
      transition: width 0.5s, height 0.5s;
      &:hover {
        opacity: 0.9;
      }
    }

    .header-submit {
      button {
        cursor: pointer;
        border-style: none;
        outline: none;
        border-radius: 36px;
        background-color: rgb(55, 85, 115);
        width: 153px;
        height: 38px;
      }
      &:hover {
        opacity: 0.9;
        .header-submit-text {
          color: rgb(255, 255, 0);
        }
      }
      .header-submit-text {
        font-size: 12px;
        font-family: "Montserrat";
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
      }
    }
  }
}

// .header__link {
//   margin: 0 30px;
//   font-size: 20px;
//   color: #fff;
//   font-weight: 600;
// }
