.header {
  width: 100%;
  border-bottom: 1px solid #dde2e7;
  font-family: $headFont, sans-serif;
  padding: 50px 0px;
}

.header-container {
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: $maxWidthHeadContainer;

  .header-container__social {
    display: flex;
    align-items: center;
  }

  h1 {
    cursor: default;
    line-height: $headFontSize;
    font-size: $headFontSize;
  }

  .header-container__buttons {
    display: flex;
    align-items: center;

    .header-search {
      margin-right: 45px;
      height: 26px;
      width: 26px;
      transition: width 0.5s, height 0.5s;
      &:hover {
        opacity: 0.9;
      }
    }
  }
}
