.footer {
  width: 100%;
  background-color: rgb(221, 226, 231);
}

a:hover {
  color: black;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 80px;
  padding-right: 100px;
}
.footer-post {
  ul {
    li {
      padding-bottom: 15px;
      font-size: 16px;
      font-family: "Montserrat";
      line-height: 1.2;
      text-align: left;
    }
  }
  color: rgb(142, 147, 153);
}
.footer-contact {
  ul {
    li {
      padding-bottom: 15px;
      font-size: 16px;
      font-family: "Montserrat";
      line-height: 1.2;
      text-align: left;
    }
    color: rgb(142, 147, 153);
  }
}
.footer-policy {
  ul {
    li {
      padding-bottom: 15px;
      font-size: 16px;
      font-family: "Myriad Pro";
      line-height: 1.2;
      text-align: left;
    }
    color: rgb(142, 147, 153);
  }
}
.footer-social-icons {
  display: flex;
}

.copyright {
  padding-top: 25px;
  padding-bottom: 20px;
  background-color: rgb(232, 235, 238);
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(183, 186, 190);
  line-height: 1.2;
  text-align: center;
}
