.flex-block-container {
  display: flex;
  justify-content: space-between;
}

.card-wrapper {
  width: 870px;
  height: 790px;
  // background-color: rgba(25, 29, 25, 0.5);
}

.recent-posts-wrapper {
  width: 270px;
  height: 254px;
//   background-color: rgba(162, 162, 194, 0.541);
}
.recent-posts-header {
  padding: 24px 0;
  border-width: 1px;
  border-color: rgb(221, 226, 231);
  border-style: solid;
  border-radius: 4px;

  h2 {
    text-align: center;
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(26, 26, 26);
    font-weight: bold;
  }
}

.recent-posts-block {
  //   display: flex;
  //   justify-content: center;
  
}
