.card-post-block {
  padding-top: 60px;
  padding-bottom: 40px;
  border-bottom: 1px solid #dde2e7;
}

.card-head {
  text-align: center;
}
.card-title {
  margin-bottom: 20px;
  h2 {
    font-size: 33px;
    font-weight: 500;
    font-family: "PlayfairDisplay";
    color: rgb(26, 26, 26);
    line-height: 1.2;
  }
}

.card-date {
  margin-bottom: 37px;
  p {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(176, 176, 176);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
  }
}

.card-img-overflow {
  margin-bottom: 33px;
  width: 870px;
  height: 360px;
  overflow: hidden;
  background-color: rgb(232, 76, 80);

  img {
    // height: 200%;
    margin: -100px 0 0 0;
  }
}

.card-desc {
  margin-bottom: 34px;
  p {
    font-size: 16px;
    font-family: "Montserrat";
    color: rgb(26, 26, 26);
    line-height: 1.75;
    font-weight: 300;
    text-align: left;
  }
}

.card-panel-buttons {
  display: flex;
  justify-content: space-between;
  // width: 100%;
  // background-color: yellow;
}
.card-submit {
  button {
    cursor: pointer;
    border-style: none;
    outline: none;
    border-radius: 6px;
    background-color: rgb(55, 85, 115);
    width: 138px;
    height: 44px;
  }
  &:hover {
    opacity: 0.9;
    .card-submit-text {
      color: rgb(228, 140, 8);
    }
  }
  .card-submit-text {
    font-size: 12px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
  }
}

.card-social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 170px;
}

.card-social-item {
  margin-right: 25px;
  a {
    display: block;

    &:hover {
      animation: 1.2s ease-in-out 0s trambling-animation;
    }

    @keyframes trambling-animation {
      0%,
      50%,
      100% {
        transform: rotate(0deg);
      }
      10%,
      30% {
        transform: rotate(-10deg);
      }
      20%,
      40% {
        transform: rotate(10deg);
      }
    }
  }
  &:last-child {
    margin-right: 0;
  }
}

.card-social-whatsapp {
  img {
    width: $whatsappW;
    height: $whatsappH;
  }
}
.card-social-instagram {
  width: $instagramW;
  height: $instagramH;
}
.card-social-twitter {
  width: $twitterW;
  height: $twitterH;
}
.card-social-facebook {
  width: $facebookW;
  height: $facebookH;
}

.card-submit {
  button {
    border-style: none;
    outline: none;
    border-radius: 6px;
    background-color: rgb(55, 85, 115);
    width: 138px;
    height: 44px;
  }
  &:hover {
    opacity: 0.9;
    .card-submit-text {
      color: rgb(228, 140, 8);
    }
  }
  .card-submit-example {
    font-size: 15px;
    font-family: "Montserrat";
    color: rgb(247, 15, 15);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
  }
}
