mixin button(buttonClass, buttonClassText, title, tag, link="#")
    if tag == "a"
        #{tag}(href=""+link, class="" + buttonClass + " " + buttonClassText) #{title}
    else if tag == "button"
        #{tag}(class="" + buttonClass + " " + buttonClassText, name="submit " + link) #{title}