//- mixin button-template(buttonClass,buttonClassText,title,id)
//-     .card-submit(class=" "+buttonClass) 
//-         button
//-             .card-submit-text(class=" " + buttonClassText, name="submit-" + id) #{title}

mixin button-template(buttonClass, buttonClassText, title,id)
    .submit(class=" "+buttonClass) 
        button
            .submit(class=" " + buttonClassText, name="submit-" + id) #{title}