mixin card
    .card-post-block
        .card-head
            .card-title
                h2 Austin DIY sriracha polaroid sartorial la croix. 
            .card-desc
                p december 26, 2019 — 5 comments
        .card-img-overflow
            .img(src="../img/small-thumbs/01.jpeg")