mixin recent-post(recentPostArr)
    each item in recentPostArr
        .recent-post-block
            .recent-post-block-overflow 
                .recent-post-img
                    img(src="../img/small-thumbs/"+item.img, alt=item.img)
            .recent-post-title 
                h3 #{item.title} 
            .recent-post-desc
                p #{item.date} — #{item.comment} comments 
