mixin social-icon(linkAdress)
    .card-social-item
        .card-social-whatsapp
            a(href=""+linkAdress)
                img(src="../img/icons/social/whatsapp.svg", alt="")
    .card-social-item
        .card-social-instagram
            a(href=""+linkAdress)                   
                img(src="../img/icons/social/instagram.svg", alt="")
    .card-social-item
        .card-social-twitter
            a(href=""+linkAdress)
                img(src="../img/icons/social/twitter.svg", alt="")
    .card-social-item                
        .card-social-facebook
            a(href=""+linkAdress)
                img(src="../img/icons/social/facebook-f.svg", alt="")