extends ./../layouts/main.pug
include ./../mixins/card-mixin.pug
include ./../mixins/recent-post-mixin.pug
include ./../data/data.pug

block recent-post
    +recent-post(recentPostArr)
block card-post
    +card()


