extends ./../layouts/main.pug
include ./../mixins/button.pug
include ./../mixins/card-mixin.pug
include ./../mixins/posts-mixin.pug
include ./../mixins/social.pug
include ./../data/data.pug

block recent-post
    +recent-post(recentPostArr)
block card-post
    +card(cardArr)
block popular-post
    +recent-post(recentPostArr)
block instagram
    +instagram(instaArr)
   



