extends ./../layouts/main.pug

block variables
    - const title = "Главная";
    - const title1 = "sdf"

//- block content
//-     h1 Это главная страница

block recent-post 
    //- h1 #{title1}
    .recent-post-block
        .recent-post-block-overflow 
            .recent-post-img
                img(src="../img/small-thumbs/01.jpg", alt="мотоцикл")
        .recent-post-title 
            h3 Austin DIY sriracha polaroid sartorial la croix. 
        .recent-post-desc
            p december 26, 2019 — 5 comments
 

