main.main
    .section-main
        .container
            .flex-block-container
                .card-wrapper
                    block card-post
                    h2 pagination
                .recent-posts-wrapper
                        .recent-posts-header
                            h2 Recent posts
                        block recent-post
                        .recent-posts-header
                            h2 Popular posts
                        block popular-post
                        .recent-posts-header
                            h2 Instagram
                        block instagram
script(src="js/main.js")
